.fondo-verde {
    background-color: greenyellow;
}

.fondo-azul {
    background-color: blue;
}

.fondo-plomo {
    background-color:gray;
}

.fondo-celeste {
    background-color: aqua;
}

.fondo-naranja{
    background-color: orangered
}

.borde-solido {
    border-spacing: 15px;
    border: solid 1px;
    border-collapse: separate;
}
.texto{
    display:block;
    text-align: center;
    font-weight: bold;
}
.encabezado{
    display:block;
    text-align: center;
    font-weight: bold;
}
.footer{
    display:block;
    text-align: center;
    font-weight: bold;
}
